@page "{fileName}"  
@model Spikylin.Pages.PostModel
@{
}
<article class="prose container mx-auto max-w-4xl pb-10">
	<h1>@Model.Post.Markdown.Meta.Title</h1>
	<h3>Published at @Model.Post.Markdown.Meta.Date</h3>
	<div class="flex gap-1">
		@foreach (var tag in @Model.Post.Markdown.Meta.Tags)
		{
			<button class="btn btn-sm btn-neutral"><span class="surface-4">&num;@tag</span></button>
		}
	</div>
	@Html.Raw(@Model.Post.Markdown.Html)
</article>


